.fighter-preview___root {
  display: flex;
  flex-direction: column;
  flex-basis: 250px;
  align-items: center;
  cursor: pointer;
  background: #ffdfa7;
  margin: 10px;
  padding: 10px;
}

.fighter-preview___root img {
  max-height: 300px;
}

.fighter-preview___right {
  align-items: flex-end;
}

.fighter-preview___left {
  align-items: flex-start;
}

.fighter-preview___info {
  padding: 10px;
  width: 100%;
  box-sizing: border-box;
}

.fighter-preview___name {
  font-size: 20px;
  color: red;
}
